* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'latoregular';
    src: url('/fonts/lato-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'playfairregular';
    src: url('/fonts/playfairdisplay-variablefont_wght-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('/fonts/roboto-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: inherit;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

ul {
    list-style: none;
}

.flex-row-center {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.flex-column-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}